.portfolio_container {
    position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; 
  padding: 40px 0;
}

.portfolio_item {
  width: 31%;
  background: var(--color-bg-variant);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
  transform: translateY(-5px);
}

.portfolio_item-img {
  border-radius: 15px;
  overflow: hidden;
}

.portfolio_item h3 {
  margin: 22px 0 35px;
}

.portfolio_item-cta {
    
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 20px;
  margin-bottom: 15px;
}

/* responsive design */
@media (max-width: 1024px) {
  .portfolio_item {
    width: 48%;
  }
}

@media (max-width: 600px) {
  .portfolio_item {
    width: 100%;
  }
}
